
<html>
<title>Register</title>
<head></head>
<body>
<form action="register" method="POST">
    {% csrf_token %}
    <input type="text" name="firstname" placeholder="First Name"><br>
    <input type="text" name="lastname" placeholder="Last Name"><br>
    <input type="text" name="username" placeholder="UserName"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="password1" placeholder="Passowrd"><br>
    <input type="password" name="password2" placeholder="Confrim Passowrd"><br>
    <input type="submit">
</form>

<div>
    {%for message in messages %}
    <h3>{{ message}}</h3>
    {% endfor%}
    </div>



</body>

</html>